<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/room.css">
    <title>room</title>
</head>
<body>
    <div class="chat">
        <div class="messages">
            
        </div>
        <textarea name="" id="userMessage" cols="30" rows="10"></textarea>
        <button class = 'sendMessage'>Send</button>
        <script src="../jquery-3.5.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../room_created.js"></script>
    </div>
</body>
</html>